body
{
	/*width: 80%;
	margin: 20 auto;*/
}

.select_figures
{
	margin-bottom: 20px;
	margin-left: 20px;
}

.select_colors
{
	margin-bottom: 20px;
	margin-left: 20px;
}

.select_coordinates
{
	margin-left: 20px;
}

.field_for_digits
{
	width: 4em;
}

.on_left
{
	float: left;
}

.on_right
{
	float: right;
}

.inline_block
{
	display: inline-block;
}

#circle_block, #rectangle_block, #triangle_block, #color_block
{
	display: none;
}

